@import "tailwindcss";

html,
body {
	margin: 0;
	min-width: 320px;
	overflow-x: hidden;
	background: #f5f8f6;
	color: #18332a;
	font-family: Tahoma, Arial, sans-serif;
}

button,
a,
*,
*::before,
*::after {
	font: inherit;
	box-sizing: border-box;
}
